<div class="container">
  <div class="jumbtron">
    <h1 class="display-4 text-center">About</h1>
    <hr>
    <div class="row">
      <div class="col-md-7">
        <div class="wrapper-about">
          <div class="wrapped-about">
            <div class="container">
              <div class="row">
                <div class="about-template">
                  <p><strong>Task Management</strong>
                    is the process of managing a task through its life cycle. It involves planning, testing,
                    tracking, and reporting. Task management can help either individual achieve goals, or groups of
                    individuals
                    collaborate and share knowledge for the accomplishment of collective goals. Tasks are also
                    differentiated
                    by complexity, from low to high.</p>

                  <p>Effective task management requires managing all aspects of a task, including its status, priority,
                    time,
                    human
                    and financial resources assignments, recurrence, dependency, notifications and so on. These can be
                    lumped
                    together broadly into the basic activities of task management.</p>

                  <p>Managing multiple individuals or team tasks may be assisted by specialized software, for example
                    workflow or
                    project management software. In fact, many people believe that task management should serve as a
                    foundation for project management activities.</p>

                  <p>Task management may form part of project management and process management and can serve as the
                    foundation
                    for
                    efficient workflow in an organization. Project managers adhering to task-oriented management have a
                    detailed
                    and up-to-date project schedule, and are usually good at directing team members and moving the
                    project
                    forward.</p>
                </div>
              </div>
            </div>
          </div>
        </div>




      </div>
      <div class="col-md-5">
        <img src="/assets/img/about-icon.png" class="mx-auto d-block">
      </div>
    </div>
  </div>
</div>