<mat-card class="user-card" *ngIf="admin.currentUser">
  <mat-card-header>
    <div mat-card-avatar class="user-header-image"></div>
    <mat-card-title>User Card</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item><strong>UserName : <br></strong>{{admin.currentUser.userName}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><strong>First Name : <br></strong> {{admin.currentUser.fName}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><strong>Last Name : <br></strong> {{admin.currentUser.lName}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><strong>Email : <br></strong> {{admin.currentUser.email}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><strong>Role : <br></strong> {{admin.currentUser.role}}</mat-list-item>
      <div *ngIf="admin.currentUser.team">
        <mat-divider></mat-divider>
        <mat-list-item><strong>Team : <br></strong> {{admin.currentUser.team}}</mat-list-item>
      </div>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onEditRole($event)">Change
      Role</button>

  </mat-card-actions>
</mat-card>