<app-nav-bar></app-nav-bar>

<div class="card m-5" style="width:18rem" *ngIf="userDetails">
  <ul class="list-group">
    <li class="list-group-item"><strong>UserName : </strong>{{userDetails.userName}}</li>
    <li class="list-group-item"><strong>First Name : </strong>{{userDetails.fName}}</li>
    <li class="list-group-item"><strong>Last Name : </strong>{{userDetails.lName}}</li>
    <li class="list-group-item"><strong>Email : </strong>{{userDetails.email}}</li>
    <li class="list-group-item"><strong>Role : </strong>{{userDetails.role}}</li>
  </ul>
</div>