<mat-card class="card m-5" style="width:18rem" *ngIf="userDetails">
  <mat-card-header>
    <div mat-card-avatar class="user-header-image"></div>
    <mat-card-title>Your Profile</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item><strong>UserName : <br></strong> {{userDetails.userName}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><strong>First Name : <br></strong> {{userDetails.fName}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><strong>Last Name : <br></strong> {{userDetails.lName}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><strong>Email : <br></strong> {{userDetails.email}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><strong>Role : <br></strong> {{userDetails.role}}</mat-list-item>
      <div *ngIf="userDetails.team">
        <mat-divider></mat-divider>
        <mat-list-item><strong>Team : <br></strong> {{userDetails.team}}</mat-list-item>
      </div>
    </mat-list>
  </mat-card-content>
</mat-card>