<div class="container">
  <div class="jumbtron">
    <h1 class="display-4 text-center">Contact Me</h1>
    <hr>
    <div class="row">

      <div class="wrapper">
        <div class="wrapped-div">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="error-template">
                  <h5>GitHub: <a href="https://github.com/rayray96">https://github.com/rayray96</a></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="wrapper">
        <div class="wrapped-div">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="error-template">
                  <h5>LinkedIn: <a
                      href="https://www.linkedin.com/in/denys-stratila-b74b8b124/">https://www.linkedin.com/in/denys-stratila-b74b8b124/</a>
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>