.task-card {
    max-width: 400px;
  }
  
  .task-header-image {
    background-image: url('/assets/img/task-icon.jpg');
    background-size: cover;
    width: 40px;
    height: 40px;
  }

  .question-position{
    text-align: center;
  }

  .text-position{
    text-align: center;
    margin: 10px;
  }

  .buttons{
    text-align: center;
    left: 50%;
  }

  .btn-space {
    margin-right: 5px;
    margin-left: 5px;
}