<!-- <div ngbDropdown class="d-inline-block">
  <button class="btn btn-outline-success" id="sortMenu" ngbDropdownToggle>
    {{currentSelection}}</button>
  <div class="dropdown-menu" aria-labelledby="sortMenu" ngbDropdownMenu>
    <button class="dropdown-item" *ngFor="let option of options" (click)="setCurrentSelection(option)">{{option}}
    </button>
  </div>
</div> -->

<select (change)="setCurrentSelection($event.target.value)" >
   <option *ngFor="let option of options" [value]="option" >{{option}}</option>
</select>
         