$primary: #0a19e9;
$font-weight-bold: 700;
$white: white;
$danger: #ef2929;
$dimension: 0.4em;

button {
  border-radius: 0;
}

h3 {
  font-size: 1rem;
}

.cp {
    padding: 0;
    border-radius: 0;
    border: 1px solid $primary;
    font-size: 1rem;
    &-dropdown {
      display: flex;
      flex-direction: column;
      &__label {
        padding: 0.75em 1em;
        color: $primary;
        font-weight: $font-weight-bold;
      }
      &__select {
        display: block;
        background-color: rgb(241, 249, 255);
        max-height: 10em;
        min-height: 5em;
        width: 100%;
        overflow-y: scroll;
        cursor: pointer;
        &-option {
          padding: 0.75em 1em;
          margin-bottom: 0;
          color: $primary;
          background-color: transparent;
          transition: all 0.05s ease-in-out;
          &:hover {
            font-size: 1.1em;
            background-color: $white;
            box-shadow: 0 0 20px -5px black;
          }
        }
      }
      &__footer {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.5em;
        background-color: $primary;
        &-label {
          color: $white;
          margin-bottom: 0.5em;
        }
        &-input {
          margin-bottom: 0.5em;
          border: none;
          padding: 0.5em;
        }
        input::placeholder {
          color: #cccccc !important;
          font-style: italic;
        }
        &-actions {
          display: flex;
          justify-content: space-between;
          font-size: 0.8em;
          &-cancel,
          &-save {
            font-size: 0.8em;
            width: 48%;
          }
          &-cancel {
            color: $danger;
          }
          &-save {
            color: $primary;
          }
        }
      }
    }
  }

::-webkit-scrollbar {
  width: $dimension;
  height: $dimension;
}

::-webkit-scrollbar-track {
  background-color: #bdbbbb;
}

::-webkit-scrollbar-thumb {
  background-color: #5e5e5e;
  border-radius: 10px;
}