<div class="wrapper-about">
  <div class="wrapped-about">
    <div class="container">
      <div class="row">
        <div class="about-template">
          <h5>Users of the System
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>

<div>
  <app-search [(searchModel)]="searchModel"></app-search>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource | search: searchModel: ['fName', 'lName', 'role', 'teamName']
  | filter: currentSelection: 'role' " matSort class="mat-elevation-z8">

    <!-- First Name Column -->
    <ng-container matColumnDef="fName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
      <td mat-cell *matCellDef="let element" (click)="onSelect(element)"> {{element.fName}} </td>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="lName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
      <td mat-cell *matCellDef="let element" (click)="onSelect(element)"> {{element.lName}} </td>
    </ng-container>

    <!-- Role Column -->
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> <span> Role <br> </span>
        <app-dropdownlist [options]="roles | enumToArray" [(currentSelection)]="currentSelection"></app-dropdownlist>
      </th>
      <td mat-cell *matCellDef="let element" (click)="onSelect(element)"> {{element.role}} </td>
    </ng-container>


    <!-- Team Column -->
    <ng-container matColumnDef="team">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Team </th>
      <td mat-cell *matCellDef="let element" (click)="onSelect(element)"> {{element.teamName}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>